In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('zomato.csv',encoding='latin-1')

In [3]:
data.shape

(9551, 21)

In [4]:

data.head(2)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591

In [5]:
data.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [6]:
data.drop(columns=['Restaurant ID','Is delivering now'],inplace=True)

In [7]:
data.columns

Index(['Restaurant Name', 'Country Code', 'City', 'Address', 'Locality',
       'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Switch to order menu', 'Price range',
       'Aggregate rating', 'Rating color', 'Rating text', 'Votes'],
      dtype='object')

In [8]:
data['Country Code'].nunique()

15

In [9]:
data['Country Code'].value_counts()

1      8652
216     434
215      80
214      60
30       60
189      60
148      40
208      34
14       24
162      22
94       21
191      20
166      20
184      20
37        4
Name: Country Code, dtype: int64

In [10]:

mask=data['Country Code']==1

data=data[mask]

In [11]:
data.shape

(8652, 19)

In [12]:
data.drop(columns=['Country Code','Currency'],inplace=True)

In [13]:
data.columns

Index(['Restaurant Name', 'City', 'Address', 'Locality', 'Locality Verbose',
       'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [14]:
data['City'].value_counts()

New Delhi       5473
Gurgaon         1118
Noida           1080
Faridabad        251
Ghaziabad         25
Bhubaneshwar      21
Lucknow           21
Ahmedabad         21
Guwahati          21
Amritsar          21
Kolkata           20
Bangalore         20
Mumbai            20
Kanpur            20
Indore            20
Varanasi          20
Allahabad         20
Mysore            20
Dehradun          20
Patna             20
Bhopal            20
Chennai           20
Vizag             20
Vadodara          20
Agra              20
Pune              20
Goa               20
Puducherry        20
Aurangabad        20
Ranchi            20
Ludhiana          20
Mangalore         20
Nagpur            20
Jaipur            20
Surat             20
Kochi             20
Coimbatore        20
Nashik            20
Chandigarh        18
Hyderabad         18
Secunderabad       2
Mohali             1
Panchkula          1
Name: City, dtype: int64

In [15]:
mask=data['City'].isin(['New Delhi','Gurgaon','Noida'])
data=data[mask]
data.shape

(7671, 17)

In [16]:
data.columns

Index(['Restaurant Name', 'City', 'Address', 'Locality', 'Locality Verbose',
       'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [17]:
data['Restaurant Name'].value_counts()

Cafe Coffee Day                   81
Domino's Pizza                    75
Subway                            60
Green Chick Chop                  47
McDonald's                        44
Keventers                         33
Giani                             28
Baskin Robbins                    26
Barista                           21
Pizza Hut                         20
Dunkin' Donuts                    20
Giani's                           20
Wah Ji Wah                        19
Costa Coffee                      19
Pizza Hut Delivery                19
Chaayos                           18
Twenty Four Seven                 18
Starbucks                         17
Sagar Ratna                       17
Republic of Chicken               17
Pind Balluchi                     16
Haldiram's                        15
Bikanervala                       14
Aggarwal Sweets                   14
Burger King                       14
Moti Mahal Delux                  13
Behrouz Biryani                   13
Shree Rathnam                     13
KFC                               13
Bikaner Sweets                    13
                                  ..
Chocolangels                       1
Cafe 59                            1
South Street Cafe                  1
Chatkaara Point                    1
Lucky Corner Shop                  1
Bismillah Hotel                    1
K's Town                           1
Naagar Foods                       1
Sapra Pastry Treat                 1
Coffee & Chai Co.                  1
Kumar Samose Wala                  1
Slounge - Lemon Tree Premier       1
Cascades - The Grand New Delhi     1
Alwar Sweets                       1
Lobby Lounge - Crowne Plaza        1
Catchup Green                      1
My Plate                           1
Chinese Tadka                      1
World Art Dining - Brew House      1
Sweet Toof Designer Cakes          1
Hot Chinese & Fast Food            1
Shahi Chicken Corner               1
KB's Icecream & Kulfis             1
Bamboo Hut                         1
Buzz                               1
Khalsa Restaurant                  1
Shree Ganesh M Cafe                1
Blue Bull Cafe                     1
The Categorical Eat Pham           1
Hum Sabki Rasoi                    1
Name: Restaurant Name, Length: 5834, dtype: int64

In [18]:
data['Restaurant Name'].nunique()

5834

In [19]:
data.columns

Index(['Restaurant Name', 'City', 'Address', 'Locality', 'Locality Verbose',
       'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [20]:
data.drop(columns=['Restaurant Name','Address','Locality','Locality Verbose','Rating text','Rating color'],inplace=True)

In [21]:
data.drop(columns=['Rating color'],inplace=True)

KeyError: "['Rating color'] not found in axis"

In [22]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Votes'],
      dtype='object')

In [23]:
data['Switch to order menu'].value_counts()

No    7671
Name: Switch to order menu, dtype: int64

In [24]:
data.drop(columns=['Switch to order menu'],inplace=True)

In [25]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Price range',
       'Aggregate rating', 'Votes'],
      dtype='object')

In [26]:
data['Cuisines'].nunique()

1143

In [27]:
data['Cuisines'].value_counts()>50

North Indian                                                            True
North Indian, Chinese                                                   True
Fast Food                                                               True
Chinese                                                                 True
North Indian, Mughlai                                                   True
Cafe                                                                    True
Bakery                                                                  True
North Indian, Mughlai, Chinese                                          True
Bakery, Desserts                                                        True
Street Food                                                             True
Pizza, Fast Food                                                        True
Chinese, Fast Food                                                      True
Mithai, Street Food                                                     True
South Indian                                                            True
Bakery, Fast Food                                                       True
Mughlai                                                                 True
Chinese, North Indian                                                   True
Ice Cream, Desserts                                                     True
Ice Cream                                                               True
Mithai                                                                  True
North Indian, Fast Food                                                 True
North Indian, Chinese, Mughlai                                          True
North Indian, Chinese, Fast Food                                        True
Bakery, Desserts, Fast Food                                             True
American, Fast Food, Salad, Healthy Food                                True
Mughlai, North Indian                                                   True
Biryani                                                                 True
Beverages                                                               True
Fast Food, Burger                                                       True
North Indian, Chinese, Continental                                     False
                                                                       ...
Fast Food, North Indian, South Indian, Chinese                         False
Beverages, Ice Cream                                                   False
Continental, Italian, Mediterranean                                    False
Cafe, North Indian, Italian, Japanese, Fast Food                       False
Finger Food, North Indian, Continental, Chinese, Italian               False
North Indian, South Indian, Bihari                                     False
Healthy Food, North Indian, Italian, Salad                             False
Continental, Mexican, Burger, American, Pizza, Tex-Mex                 False
Raw Meats, Street Food                                                 False
Mediterranean, European                                                False
Bakery, Desserts, Fast Food, Street Food, Chinese, Beverages           False
North Indian, Chinese, South Indian, Bakery                            False
European, Asian                                                        False
Mithai, North Indian, South Indian, Fast Food, Street Food, Chinese    False
Chinese, North Indian, Fast Food, Street Food                          False
Italian, Mexican, Spanish, Thai, Vietnamese, Indonesian, American      False
Lebanese, North Indian, Fast Food                                      False
Continental, Italian, Pizza, Asian                                     False
American, Italian, Cafe                                                False
Cafe, Healthy Food, North Indian                                       False
Mughlai, Continental, Chinese                                          False
Healthy Food, European, Continental, Salad                             False
North Indian, Chinese, Italian, Finger Food                            False
Continental, American, Italian, North Indian, Chinese                  False
North Indian, Italian, Mexican                                         False
Continental, North Indian, Chinese, Mediterranean                      False
Italian, French, European, Cafe                                        False
North Indian, Spanish, Mediterranean                                   False
European, North Indian, Chinese                                        False
South Indian, Nepalese                                                 False
Name: Cuisines, Length: 1143, dtype: bool

In [28]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Price range',
       'Aggregate rating', 'Votes'],
      dtype='object')

In [29]:
data['Has Table booking'].value_counts()

No     6640
Yes    1031
Name: Has Table booking, dtype: int64

In [30]:
data['Has Table booking'].replace('Yes',1,inplace=True)
data['Has Table booking'].replace('No',0,inplace=True)

In [31]:
data['Has Table booking'].value_counts()

0    6640
1    1031
Name: Has Table booking, dtype: int64

In [32]:
data['Has Online delivery'].replace('Yes',1,inplace=True)
data['Has Online delivery'].replace('No',0,inplace=True)

In [33]:
data['Has Online delivery'].value_counts()

0    5393
1    2278
Name: Has Online delivery, dtype: int64

In [34]:
#data.corr()['Average Cost for two']
data.drop(columns=['Longitude','Latitude','Has Online delivery','Price range'],inplace=True)

In [35]:
data.columns

Index(['City', 'Cuisines', 'Average Cost for two', 'Has Table booking',
       'Aggregate rating', 'Votes'],
      dtype='object')

In [36]:
data.corr()['Average Cost for two']

Average Cost for two    1.000000
Has Table booking       0.643845
Aggregate rating        0.329785
Votes                   0.297741
Name: Average Cost for two, dtype: float64

In [37]:
data.groupby('Cuisines')["Average Cost for two"].mean().sort_values(ascending=False)

Cuisines
Asian, Japanese, Korean, Thai, Chinese                          7000.000000
North Indian, Chinese, South Indian, Italian                    6000.000000
Malaysian, Thai, Kerala, Vietnamese, Sri Lankan                 6000.000000
Chinese, Italian, Continental, North Indian                     5000.000000
Mediterranean, European                                         5000.000000
French, Italian                                                 5000.000000
North Indian, European, Continental                             5000.000000
Seafood, Italian                                                5000.000000
Finger Food, Italian, Middle Eastern                            4700.000000
Spanish, Italian                                                4500.000000
Continental, European, North Indian, French                     4500.000000
Mughlai, North Indian, South Indian                             4500.000000
Continental, Italian, Mediterranean                             4500.000000
Finger Food, Continental, Italian, Chinese                      4400.000000
Malaysian, Thai                                                 4200.000000
Thai, Asian                                                     4000.000000
Japanese, Thai, Sushi                                           4000.000000
Seafood, Chinese, Japanese, Sushi, Thai                         4000.000000
North Indian, Continental, European, Chinese, Thai              3800.000000
South American                                                  3750.000000
European                                                        3700.000000
Continental, North Indian, Italian, Asian                       3600.000000
Continental, Italian, American, North Indian                    3500.000000
Cafe, Continental, North Indian                                 3500.000000
Pizza, Salad, Finger Food                                       3500.000000
North Indian, Mediterranean, European, Asian, Chinese, Pizza    3500.000000
European, Italian, North Indian                                 3400.000000
European, Continental                                           3275.000000
Mediterranean, Continental, North Indian, Italian               3200.000000
Continental, North Indian, European, Finger Food                3200.000000
                                                                   ...
Juices, Beverages, Fast Food                                     200.000000
Chinese, Mithai                                                  200.000000
Mithai, Bakery                                                   200.000000
Mithai, Bakery, North Indian                                     200.000000
Ice Cream, Bakery                                                200.000000
Fast Food, Tea                                                   200.000000
Juices                                                           187.500000
Raw Meats, Fast Food, North Indian                               178.571429
Beverages, Desserts                                              175.000000
Street Food, Mithai                                              158.333333
Mithai, Street Food                                              156.818182
Mithai                                                           156.060606
Street Food                                                      150.833333
North Eastern, North Indian, Chinese                             150.000000
Beverages, Juices                                                150.000000
Bengali, Chinese                                                 150.000000
Mithai, Chinese                                                  150.000000
Street Food, Chinese, Mithai                                     150.000000
Ice Cream, Mithai, North Indian, Street Food                     150.000000
South Indian, Pizza, Chinese                                     150.000000
Chinese, Street Food                                             150.000000
Ice Cream, Street Food                                           150.000000
Desserts, Street Food                                            135.714286
Street Food, Bakery                                              125.000000
Chinese, North Indian, South Indian, Healthy Food                120.000000
Tibetan, Street Food                                             100.000000
North Indian, Beverages                                          100.000000
Bakery, Pizza                                                    100.000000
Awadhi, Mughlai                                                  100.000000
Beverages, Street Food                                            50.000000
Name: Average Cost for two, Length: 1143, dtype: float64

In [38]:
cuisine=data.groupby('Cuisines')["Average Cost for two"].mean().reset_index()

In [39]:
new_data=data.merge(cuisine, on='Cuisines')

In [40]:
new_data.drop(columns=['Cuisines'],inplace= True)

In [41]:
new_data.head(2)
new_data.rename(columns={'Average Cost for two_x':'cost','Average Cost for two_y':'cuisine'},inplace=True)

In [42]:
new_data.head()

        City  cost  Has Table booking  Aggregate rating  Votes     cuisine
0    Gurgaon   350                  0               3.4     16  416.666667
1  New Delhi   200                  0               0.0      0  416.666667
2  New Delhi   700                  0               4.1     92  416.666667
3    Gurgaon   800                  1               2.7     80  755.511551
4    Gurgaon  2000                  1               4.3   1887  755.511551

In [43]:
new_data=new_data[['City','Has Table booking','Aggregate rating','Votes','cuisine','cost']]

In [44]:
new_data.head()

        City  Has Table booking  Aggregate rating  Votes     cuisine  cost
0    Gurgaon                  0               3.4     16  416.666667   350
1  New Delhi                  0               0.0      0  416.666667   200
2  New Delhi                  0               4.1     92  416.666667   700
3    Gurgaon                  1               2.7     80  755.511551   800
4    Gurgaon                  1               4.3   1887  755.511551  2000

In [45]:
X=new_data.iloc[:,:-1].values
X

array([['Gurgaon', 0, 3.4, 16, 416.6666666666667],
       ['New Delhi', 0, 0.0, 0, 416.6666666666667],
       ['New Delhi', 0, 4.1, 92, 416.6666666666667],
       ...,
       ['Noida', 0, 3.5, 105, 450.0],
       ['Noida', 1, 0.0, 0, 1000.0],
       ['Noida', 0, 2.0, 161, 450.0]], dtype=object)

In [46]:
y=new_data.iloc[:,-1].values
y

array([ 350,  200,  700, ...,  450, 1000,  450], dtype=int64)

In [47]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [48]:
X[:,0]=encoder.fit_transform(X[:,0])
X.shape

(7671, 5)

In [49]:
from sklearn.preprocessing import OneHotEncoder
oencoder=OneHotEncoder(categorical_features=[0])
X=oencoder.fit_transform(X).toarray()
X.shape

(7671, 7)

In [50]:
X=X[:,1:]
X.shape

(7671, 6)

In [51]:
from sklearn.cross_validation import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=9)

C:\Users\ATREYI\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [52]:
X_train.shape

(6136, 6)

In [53]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

In [54]:
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [55]:
y_pred=regressor.predict(X_test)

In [56]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.7189272138600126

In [57]:
from sklearn.ensemble import RandomForestRegressor
regressor1=RandomForestRegressor(n_estimators=200)

C:\Users\ATREYI\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [58]:
regressor1.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [59]:
y_pred1=regressor1.predict(X_test)

In [60]:
r2_score(y_test,y_pred1)

0.6787427739133405

In [64]:
from sklearn.tree import DecisionTreeRegressor
regressor1=DecisionTreeRegressor()

In [66]:
regressor1.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')